@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins',sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    line-height: 1.5;
}

.main-container {
    background: url('./images/rural_children_gradient.png') no-repeat;
    background-position: center;
    background-size: cover;
}

/*HEADER SECTION*/
header {
    position: absolute;
    /* position:fixed; */
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    height: 14vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    white-space: nowrap;
}


header .logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    white-space: nowrap;
}

header .logo a{
    color:#094b65;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header img {
    width: 50px;
    height: 50px;
    margin-right:15px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color:#094b65;
    border-radius: 20px;
}

.nav-links {
    height: 8vh;
}

.nav-icon {
    display: none;
}

/*MEDIA QUERIES FOR RESPONSIVE NAV*/

@media(max-width:970px) {
    header ul li a {
        padding: 3px 7px;
    }
}

@media(max-width:893px) {
    body {
        overflow-x: hidden;
    }
    header {
        background:#094b65;
    }
    header .logo img {
        margin-right: 5px;
    }
    header .logo a {
        margin-right: 20px;
        display: block;
        color:#fff;
        font-size: 20px;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 84vh;
        top: 14vh;
        display: flex;
        background:#094b65;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        margin-bottom: 20px;
        font-size: 25px;
        opacity: 0;
    }
    .nav-links li a {
        color: #fff;
        letter-spacing: 2px;
    }
    .nav-links li a:hover,
    .nav-links li a.active {
        background: #fff;
        color:#094b65;
    }
    .nav-icon {
        color: #fff;
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

/*ANIMATION OF SLIDING NAVBAR*/

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

header ul li a:hover,
header ul li a.active {
    background-color:#094b65;
    color: #fff;
}

/*CENTER SECTION*/

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 
section #main-section-text {
    position: absolute;
    color: #094b65;
    font-size: 10vw;
    text-align: center;
    line-height: 0.75em;
    transform: translateY(-50%);
}
section #main-section-text span {
    font-size: 0.50em;
    letter-spacing: 2px;
    font-weight: 400;
}

.main-section-link {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    margin-right: 20px;
    background: #fff;
    color: #094b65;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translateY(100px);
}

.main-section-link:hover {
    background: #094b65;
    color: #fff;
}

/*MEDIA QUERIES FOR CENTER SECTION LINKS*/

@media(max-width:574px) {
    .main-div-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .main-div-link a {
        margin-bottom: 10px;
        text-align: center;
    }
}

/*WAVE SECTION*/
/*UPPER SECTION WAVES*/
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background:url('./images/wave.png');
    background-size: 1000px 100px;
    animation: animate 4s ease-in-out infinite;
    animation-delay: calc(var(--i)*0.25s);
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    background-position-x: 400px;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    background-position-x: 300px;
}

.wave#wave3 {
    z-index: 998;
    opacity: 0.2;
    background-position-x: 200px;
}

.wave#wave4 {
    z-index: 998;
    opacity: 0.7;
    background-position-x: 100px;
}

/*UPPER SECTION ANIMATION*/
@keyframes animate {
    0%,100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
}

/*FOOTER SECTION WAVES*/


/*DIV INFO-CONTAINER SECTION*/

.sub-container {
    display: flex;
    justify-content: space-around;
    margin: 100px 50px;  
}

/*MEDIA QUERIES FOR DIV INFO-CONTAINER*/
@media(max-width:574px) {
    .sub-container {
        flex-direction: column;
        margin:  0  0 50px 0;
        padding: 0px;
        width: 100%;
        align-items: center;
    }   
    .sub-container-text {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .sub-container-text a {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
}
/*SUB-CONTAINER IMAGE SECTION AND MEDIA QUERY*/
.sub-container img {
    width: 40%;
    height: 100%;
    border-radius: 25px;
}
@media(max-width:574px){
    .sub-container img {
        width: 100%;
        padding:5%;
        border-radius: 10%;
    }
}

/*SUB-CONTAINER DIV SECTION AND MEDIA QUERY*/
.sub-container div {
    width: 50%;
}
@media(max-width:574px){
    .sub-container div {
        width: 100%;
        padding: 5%;
    }
}

/*INVERSE ORDER SUB-CONTAINER*/
.inverse-order :nth-child(1) { order: 2; }
.inverse-order :nth-child(2) { order: 1; }
@media(max-width:574px) {
    .inverse-order :nth-child(1) { order: 1; }
    .inverse-order :nth-child(2) { order: 2; }
}

/*SUB-CONTAINER-TEXT SECTION*/
.sub-container-text *{
    margin-bottom: 1em;
}
.sub-container-text h3 {
    font-size: 1.5em;
}

.sub-container-text a{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #000;
    color:#094b65;
    padding: 8px 30px;
    font-size: 1.2em;
    border-radius: 40px;
    font-weight: 500;
}
.sub-container-text a:hover {
    color: #fff;
    background:#094b65;
}

/*FOOTER SECTION*/
.footer-container {
    max-width: 1170px;
    margin:auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer ul {
    list-style: none;
}

.footer {
    background: #FF6931;
    padding: 70px 0;
    position: relative;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background:#e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: #fff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;

}
.footer-col .social-links a:hover {
    color: #24262b;
    background: #fff;
}

/*FOOTER SECTION MEDIA QUERY*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}